In [2]:
from prettytable import PrettyTable

In [4]:
table = PrettyTable()

table.add_column("Pokemons", ["pikachu", "pickanarse", "pickanose"])
table.add_column("type", ["Water", "Electric", "Fuck Off"])
table.add_column("col3", [1,2,{"key":98.4}])
table.align="l"

print(table)

+------------+----------+---------------+
| Pokemons   | type     | col3          |
+------------+----------+---------------+
| pikachu    | Water    | 1             |
| pickanarse | Electric | 2             |
| pickanose  | Fuck Off | {'key': 98.4} |
+------------+----------+---------------+

In [10]:
table2 = PrettyTable()

table2.field_names = ["pet1","pet2","pet3","pet4",]
table2.add_row(["Alaca", "Roses", "Maple", "Eleanor"])

print(table, "\n\n", table2)

+------------+----------+---------------+
| Pokemons   | type     | col3          |
+------------+----------+---------------+
| pikachu    | Water    | 1             |
| pickanarse | Electric | 2             |
| pickanose  | Fuck Off | {'key': 98.4} |
+------------+----------+---------------+

 +-------+-------+-------+---------+
|  pet1 |  pet2 |  pet3 |   pet4  |
+-------+-------+-------+---------+
| Alaca | Roses | Maple | Eleanor |
+-------+-------+-------+---------+